<!-- <app-header></app-header> -->
<div class="col-md-12">
    <app-header></app-header>
</div>
<div class="executive-info col-md-12"><br>
    <div class="col-md-6">
        <div class="col-md-2">
        <img class="user_image" src="../../assets/img/user_image.png"/>
    </div>
    <div class="col-md-2" style="margin-top:15px;">
       
       {{firstName}} <br>{{designation}}
    </div>
    <div class="col-md-2 total_container center">
        <h4>TOTAL</h4>
        <h4>{{total}}</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 approved_container center">
        <h4>APPROVED</h4>
        <h4>{{approved}}</h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 rejected_container center">
        <h4>REJECTED</h4>
        <h4>{{rejected}}</h4>
    </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 handling_average_container center">
            <h4>Average Handling Time</h4>
            <h4>{{avghandlingtime}}</h4>
        </div>
        <div class="col-md-3 available_time_container center">
            <h4>Available</h4>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round" (click)="available()"></span>
              </label><br>
            <h4>{{timeAvailMin}}:{{timeAvail}}</h4>
        </div>
        <div class="col-md-3 break_time_container center">
            <h4>Break</h4>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round" (click)="break()"></span>
              </label><br>
            <h4>{{timeBreakMin}}:{{timeBreak}}</h4>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <h3>Subscriber Details</h3>
    </div>
    <div class="col-md-7"></div>
    <div style="text-align: right"class="col-md-2">
        <span appCursor class="material-icons">history</span><span appCursor>  Recent Cases</span>
    </div>
    
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <app-subscriber-id-proof></app-subscriber-id-proof>
    </div>
    <div class="col-md-6">
        <app-subscriber-details></app-subscriber-details><br><br>
        <app-subscriber-information></app-subscriber-information>
    </div>
   
</div>
<div id="line"><hr/></div>
<div class="col-md-12">
    <app-footer></app-footer>
</div>