.user_image {
    height:70px;
    width:70px;
    
}
#line {
    float: left;
    width: 1920px;
    height: 40px;                
}
.center {
    text-align:center;
}
.total_container {
    background:gray;
    border-radius: 5px;
    color:white;
}
.approved_container {
    background:lightgreen;
    border-radius: 5px;
    color:white;
}
.rejected_container {
    background:red;
    border-radius: 5px;
    color:white;
}
.handling_average_container {
    border-radius: 5px;
    background:darkblue;
    color:white;
}
.executive-info {
    border:1px solid lightgray;
    border-radius:5px;
    box-shadow: 2px 2px lightgray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .available_time_container {
    border-radius: 5px;
    /* background:darkblue;
    color:white; */
  }
  
  .break_time_container {
    border-radius: 5px;
    /* background:darkblue;
    color:white; */
  }