<div class="container">
<h4>Customer Information<span class="material-icons" appCursor style="margin-left: 40rem;">create</span></h4>
<br>

<label class="col-md-6">Primary ID Type</label><br> <label class="col-md-6">Primary ID Number</label>
<input type="text" class="col-md-6" value="Passport"><input type="text" value="83749384934" class="col-md-6">
<label class="col-md-6">First Name</label> <label class="col-md-6">DOB</label>
<input type="text" value="Doe" class="col-md-6"><input type="text" value="22-08-1989" class="col-md-6">
<label class="col-md-6">Gender</label> <label class="col-md-6">Email ID (Optional)</label>
<input type="text" value="Male" class="col-md-6"><input type="text" class="col-md-6">
<label class="col-md-6">Alternate Phone Number</label> <label class="col-md-6">State</label>
<input type="text" value="7659536789" class="col-md-6"><input type="text" value="zambezi" class="col-md-6">
<label class="col-md-6">District</label> <label class="col-md-6">LGA</label>
<input type="text" value="Lusaka" class="col-md-6"><input type="text" value="Federal" class="col-md-6">
<label class="col-md-6">City</label> <label class="col-md-6">Address Line 1</label>
<input type="text" value="Pemba" class="col-md-6"><input type="text" value="B-25/44" class="col-md-6">
<label class="col-md-6">Address Line 2</label> <label class="col-md-6">Address Line 3</label>
<input type="text" value="Near Airtel Office" class="col-md-6"><input type="text" value="Hudson road" class="col-md-6">
<label class="col-md-6">Postal Code</label><label class="col-md-12"></label>
<input type="text" value="10101" class="col-md-6">
<label class="col-md-6">District</label> <label class="col-md-6">LGA</label>
<input type="text" value="Lusaka" class="col-md-6"><input type="text" value="Federal" class="col-md-6">
<label class="col-md-6">City</label> <label class="col-md-6">Address Line 1</label>
<input type="text" value="Pemba" class="col-md-6"><input type="text" value="B-25/44" class="col-md-6">
<label class="col-md-6">Address Line 2</label> <label class="col-md-6">Address Line 3</label>
<input type="text" value="Near Airtel Office" class="col-md-6"><input type="text" value="Hudson road" class="col-md-6">
<label class="col-md-6">Postal Code</label><label class="col-md-12"></label>
<input type="text" value="10101" class="col-md-6">
</div>
<!-- 
<div class="form-group" style="width: 100%">
<div class="col-md-2">
    <span class="minutes" >{{timeMin}}</span><span>:</span><span class="seconds">{{timeSec}}</span>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-3">
            <button class="reject_button">REJECT</button>
            <button class="approve_button">APPROVE</button>
        </div>
    </div> -->