<div class="container col-md-6">
    <img class="airtel_image img-fluid" src="../../assets/img/airtel_logo.png" alt="Responsive image"/><br>
           <img class="airtel_plan_image img-fluid" src="../../assets/img/airtel_plan_2.PNG"  alt="Responsive image" alt="First slide">
 </div>
 <div class="container col-md-6">
     <div >
         <img class="user_image" src="../../assets/img/user_image.png" id="icon" alt="User Icon" />
       </div><br>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)"> 
            
         <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
    
         <div *ngIf="signInForm.submitted && email.errors?.pattern">
           <label class="validation-message">Invalid email address.</label>
         </div>
         <br>
         <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"[ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
     
         <div *ngIf="signInForm.submitted && password.errors?.minlength">
           <label class="validation-message">Minimum 4 characters.</label>
         </div><br>
         <input type="submit" value="Sign In">
       </form> 
       <div *ngIf="serverErrorMessages">
         {{serverErrorMessages}}
         </div>
 </div>
 
 
 